.type {
  margin: 0 0.6rem;
  height: 64px;
  width: 64px;

  background-color: #fff;
  border-radius: 50%;

  z-index: 1;
  border: none;
}

.type:hover {
  filter: saturate(200%);
}

.type:focus {
  outline: none;
}

.label {
  position: relative;
  color: #fff;

  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.label:before {
  position: absolute;
  content: attr(data-tip);

  min-width: 2rem;
  padding: 0.3rem 0.6rem;

  color: inherit;
  font-size: 0.6rem;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0;
  text-transform: uppercase;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

  opacity: 0;
  visibility: hidden;

  transition: all 0.3s ease-in-out;
}

.label:hover:before,
.label:hover:after {
  visibility: visible;
  opacity: 1;
}

.label.tooltip:before {
  background-color: inherit;

  top: 0;
  left: 50%;

  border-radius: 5px;
  transform: translate(-50%, calc(-100% - 5px));
}

.bug {
  background-color: #92bc2c;

  background-image: url('../../../assets/types/bug.svg');
  background-position: 50%;
  background-size: 50%;
  background-repeat: no-repeat;

  box-shadow: 0 0 20px #92bc2c;
}

.dark {
  background-color: #595761;

  background-image: url('../../../assets/types/dark.svg');
  background-position: 50%;
  background-size: 50%;
  background-repeat: no-repeat;

  box-shadow: 0 0 20px #595761;
}

.dragon {
  background-color: #0c69c8;

  background-image: url('../../../assets/types/dragon.svg');
  background-position: 50%;
  background-size: 50%;
  background-repeat: no-repeat;

  box-shadow: 0 0 20px #0c69c8;
}

.electric {
  background-color: #f2d94e;

  background-image: url('../../../assets/types/electric.svg');
  background-position: 50%;
  background-size: 50%;
  background-repeat: no-repeat;

  box-shadow: 0 0 20px #f2d94e;
}

.fire {
  background-color: #fba54c;

  background-image: url('../../../assets/types/fire.svg');
  background-position: 50%;
  background-size: 50%;
  background-repeat: no-repeat;

  box-shadow: 0 0 20px #fba54c;
}

.fairy {
  background-color: #ee90e6;

  background-image: url('../../../assets/types/fairy.svg');
  background-position: 50%;
  background-size: 50%;
  background-repeat: no-repeat;

  box-shadow: 0 0 20px #ee90e6;
}

.fighting {
  background-color: #d3425f;

  background-image: url('../../../assets/types/fighting.svg');
  background-position: 50%;
  background-size: 50%;
  background-repeat: no-repeat;

  box-shadow: 0 0 20px #d3425f;
}

.flying {
  background-color: #a1bbec;

  background-image: url('../../../assets/types/flying.svg');
  background-position: 50%;
  background-size: 50%;
  background-repeat: no-repeat;

  box-shadow: 0 0 20px #a1bbec;
}

.ghost {
  background-color: #5f6dbc;

  background-image: url('../../../assets/types/ghost.svg');
  background-position: 50%;
  background-size: 50%;
  background-repeat: no-repeat;

  box-shadow: 0 0 20px #5f6dbc;
}

.grass {
  background-color: #5fbd58;

  background-image: url('../../../assets/types/grass.svg');
  background-position: 50%;
  background-size: 50%;
  background-repeat: no-repeat;

  box-shadow: 0 0 20px #5fbd58;
}

.ground {
  background-color: #da7c4d;

  background-image: url('../../../assets/types/ground.svg');
  background-position: 50%;
  background-size: 50%;
  background-repeat: no-repeat;

  box-shadow: 0 0 20px #da7c4d;
}

.ice {
  background-color: #75d0c1;

  background-image: url('../../../assets/types/ice.svg');
  background-position: 50%;
  background-size: 50%;
  background-repeat: no-repeat;

  box-shadow: 0 0 20px #75d0c1;
}

.normal {
  background-color: #a0a29f;

  background-image: url('../../../assets/types/normal.svg');
  background-position: 50%;
  background-size: 50%;
  background-repeat: no-repeat;

  box-shadow: 0 0 20px #a0a29f;
}

.poison {
  background-color: #b763cf;

  background-image: url('../../../assets/types/poison.svg');
  background-position: 50%;
  background-size: 50%;
  background-repeat: no-repeat;

  box-shadow: 0 0 20px #b763cf;
}

.psychic {
  background-color: #fa8581;

  background-image: url('../../../assets/types/psychic.svg');
  background-position: 50%;
  background-size: 50%;
  background-repeat: no-repeat;

  box-shadow: 0 0 20px #fa8581;
}

.rock {
  background-color: #c9bb8a;

  background-image: url('../../../assets/types/rock.svg');
  background-position: 50%;
  background-size: 50%;
  background-repeat: no-repeat;

  box-shadow: 0 0 20px #c9bb8a;
}

.steel {
  background-color: #5695a3;

  background-image: url('../../../assets/types/steel.svg');
  background-position: 50%;
  background-size: 50%;
  background-repeat: no-repeat;

  box-shadow: 0 0 20px #5695a3;
}

.water {
  background-color: #539ddf;

  background-image: url('../../../assets/types/water.svg');
  background-position: 50%;
  background-size: 50%;
  background-repeat: no-repeat;

  box-shadow: 0 0 20px #539ddf;
}

@media only screen and (max-width: 992px) {
  .type:focus {
    filter: saturate(200%);
  }

  .label:focus:before,
  .label:focus:after {
    visibility: visible;
    opacity: 1;
  }
}
